<h1>Hello World</h1>
<!-- <app-rooms></app-rooms> -->

<!-- <div [ngSwitch] = "role">
    <div *ngSwitchCase="'admin'">
        <app-rooms></app-rooms>
    </div>
    <div *ngSwitchCase="'user'">
        Welcome User!
    </div>
    <div *ngSwitchDefault>
        You are not authorized to view this page!
    </div>
</div> -->

<div>
    <ng-template #user>Ng Template never renders the text inside it yeahh</ng-template>
</div>

<div #name>

</div>

<app-container><h2>This is my content</h2></app-container>